:root {
  --color-base-background: #fff;
  --color-base-background-lighter: #f4f4f4;
  --color-base-text: #3c4554;
  --color-base-text-lighter: #808080;
  --color-border: rgba(115, 125, 130, 0.4);
  --color-primary-background: #6ebb44;
  --color-primary-text: #6ebb44;
}
